/* CSS files add styling rules to your content */

body {
  font-family: "Open Sans", sans-serif;
  margin: 1%;
  background-color: #17181c;
  /* background: linear-gradient(270deg, #354965, #26272F); */
  background-size: 400% 400%;
  animation: AnimationName 0s ease infinite;
}

h1 {
  color: white;
  background-color: #E94A35;
  font-weight: 800;
  padding: 1%;
  display: inline-block;
  margin-top: 0px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  right:1%;
  width:98%;
  font-size:150%;
  height:100%;
}

#firstContainer {
  color: white;
  background-color: #E94A35;
  position: relative;
  text-align: center;
}

#schoolTitle {
  font-weight: 800;
  font-size:140%;
  vertical-align: center;
  text-align: center;

  margin: 0;
  position: absolute;
  top: 50%;
  left:7%;
  transform: translate(0%, -50%);
}

h2 {
  margin: 0;
  font-size: 40px;
  font-family: "Open Sans", sans-serif;
  display:inline-block;
  vertical-align: middle;
  margin-right: 30px;
  color:gray;
}

table {
  color: #8a8a8a;
  margin: 0;
  text-align: left;
  display:inline-block;
  vertical-align: middle;
}

tr,
td {
  padding-right: 30px;
  font-size: 25px;
  margin-top: 0;
  display:block;
}

td {
  display:inline-block;
}

th {
  padding-right: 100%;
}

.timer {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 40px;
  font-weight: 10;
  background-color: #232326;
  display: inline-block;
  padding: 10px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  vertical-align: middle;
  width: 500px;
  padding-right:0px;
  margin-bottom:25px;
  margin-right:25px;
}

@keyframes AnimationName {
  0% {
    background-position: 0% 52%;
  }
  50% {
    background-position: 100% 49%;
  }
  100% {
    background-position: 0% 52%;
  }
}


input {
  font-size: 30px;
  margin-top: 40px;
  width: 90%;
}
