html, body {margin: 0; height: 100%; overflow: hidden}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #edebec;
  /* background: linear-gradient(270deg, #354965, #26272F); */
  background-size: 400% 400%;
  animation: AnimationName 0s ease infinite;
}

#firstContainer {
  color: #575757;
  background-color: #E94A35;
  position: relative;
  text-align: center;
  float:right;
  width:30%;
  display:none;
}

h6 {
  text-align:center;
  margin:0;
  color:#575757;
  font-size:3vh;
  padding:5%;
}

.weeks {
  font-size:2.2vh;
}


#schoolTitle {
  font-weight: 800;
  font-size:350%;
  vertical-align: center;
  text-align: center;

  margin: 0;
  position: absolute;
  top: 50%;
  left:7%;
  transform: translate(0%, -50%);
}

h2 {
  margin: 0;
  font-size: 300%;
  font-family: "Open Sans", sans-serif;
  display:inline-block;
  vertical-align: middle;
  margin-right: 30px;
}

table {
  display:inline-block;
  text-align: left;
  vertical-align: middle;
}

th, td, tr
 {
   padding-right: 40px;
}

.thatLabelThing {
  font-weight:500;
}

.thatEndThing {
  margin-left: 18%;
}

.timer {
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 10;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  padding-right:0px;
  color:#575757;
  box-sizing: border-box;
  width:35%;
  text-align:center;
  padding-right:0;
  padding-left:15px;
  margin-top:1.2%;
  padding:0.75%;
  margin-left:1%;
  border-radius:10%/80%;

}

@keyframes AnimationName {
  0% {
    background-position: 0% 52%;
  }
  50% {
    background-position: 100% 49%;
  }
  100% {
    background-position: 0% 52%;
  }
}


input {
  font-size: 30px;
  margin-top: 40px;
  width: 90%;
}

.sidebar {
  float:right;
  background-color:transparent;
  padding: 0.85%;
  padding-left:0.5%;
}

:root {
  --thatHeight: 22.71vh;
}

.sidebarSquare {
  box-sizing: border-box;
  background-color: #1c1c1f;
  height: var(--thatHeight);
  width: var(--thatHeight);
  margin-bottom:2vh;
  /*box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);*/
  box-shadow: -6px -6px 20px #0a0a0d, 6px 6px 10px #0f0f0f;
  border-radius:10%;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
  background-color:transparent;
}

.sidebarRectangle {
  box-sizing: border-box;
  background-color: #1c1c1f;
  height: calc(var(--thatHeight) * 2 + 2vh);
  width: var(--thatHeight);
  margin-bottom:2vh;
/*  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); */
box-shadow: -6px -6px 20px #0a0a0d, 6px 6px 10px #0f0f0f;
border-radius:10%/5%;
box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
background-color:transparent;
}


h3 {
  margin: 0;
  color:#575757;
  text-align:center;
  font-size:230%;
  padding-top: 5%;
}

h4 {
  color:#575757;
  text-align:center;
  font-size: 150%;
  font-weight: 400;
}

#currentTime {
  margin-bottom: 20%;
}

:root {
  --radio: 6vh;
}

.radioDiv {
  text-align:center;
}

h5 {
  display:inline-block;
  vertical-align:middle;
  color:#575757;
  font-size:250%;
  margin:0;
  padding:0;
  margin-right: 5%;
  font-weight:400;
}


.radioOuter {
  height: var(--radio);
  width: var(--radio);
  background-color:transparent;
  border-radius:50%;
  cursor:pointer;
  display:inline-block;
  vertical-align:middle;
  position: relative;

  box-shadow: -6px -6px 10px #262626, 6px 6px 10px #0f0f0f;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
}

.radioInner {
  height: calc(var(--radio) / 2);
  width: calc(var(--radio) / 2);
  background-color:gray;
  border-radius:50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.singleRadio {
  margin-top: 7%;
  margin-bottom:18%;
  position:relative;
}

.radioTooltip {
  position:absolute;
  background-color:#575757;
  z-index:10;
  vertical-align: middle;
  top:15%;
  left:-50%;
  padding:5%;
  display:none;
}

.radioOuter:focus + .radioTooltip {
  display:block;
}

#cycleDayOutput {
  color: #575757;
  text-align:center;
  font-size:500%;
  margin:0;
  margin-top:5%;
  font-weight:400;
}

button {
  padding: 9.75%;
  margin: 0%;
  margin-bottom:20px;
  cursor:pointer;
  outline:none;
  background-color:transparent;
  border:none;
  color:#575757;
  box-shadow: -2px -6px 7px #212121, 6px 6px 10px #0f0f0f;
  box-shadow: -6px -6px 10px #212121,  6px 6px 10px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  transition: 0.1s;
  width:100%;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
}

button:hover {
  outline:none;

  transform: scale(1.03, 1.03);
}

#progressOuter {
  background-color:transparent;
  margin-top:11%;
  width:70%;
  height:30%;
  left: 50%;
  position:absolute;
  transform: translate(-50%, 0%);
  box-shadow: -6px -6px 10px #262626, 6px 6px 10px #0f0f0f;
  z-index:10;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
}

#progressInner {
  background-color: red;
  width:10%;
  height:100%;
  z-index:-1;
}

#progress {
  position:relative;
}

#settingsDiv {
  background-color:transparent;
  box-shadow:none;
}

#weeksOutput {
  font-size:500%;
}
