.cycleDivs{
  display:inline-block;
  margin: 3vh;
  text-align: center;
}

.cycleOutputs {
  color: #575757;
  text-align:center;
  font-size:11vh;
  margin:0;
  margin-top:2.5vh;
  padding-top:0;
  font-weight:400;
}

#cycleDiv {
  height: 45vh;
}

#cycle {
  transition:0.1s
}

#cycle:hover {
  transform: scale(1.03, 1.03);
  cursor:pointer;
}
