  body {
    margin: 0;
  }

  #revealText {
    color: #5e6570;
    font-family: Arial;
    font-size: 3vh;
    font-weight: Bold;
    opacity: 0;
    transition: 5s;
    text-decoration: underline;
  }
  
  a:hover{
    cursor:pointer;
  }

  #back {
    background-color: #150d0e;
    height: 100vh;
    width: 100vw;
    z-index:99;
  }

  video {
    width: 75vw;
    outline: 0;
    border: 0;
    transition: 5s;
    opacity: 0;
  }

  video:focus {
    outline: 0;
  }